<header>
    <div class="container header-content">
        <div class="header-content__left">
            <h2>Freezing Frames, Unveiling Joys: Your Ultimate Destination for Effortless Event Photography!</h2>
            <div class="header-content__left-btn">
                <!-- <a routerLink="#">Sign up</a>
                <a routerLink="#">Learn More</a> -->
            </div>
        </div>
        <img src="../../assets/img/header-inside__img.png" alt="">
    </div>
</header>

<!-- In Press Code -->
<main>
    <section class="in-the-press">
        <div class="container in-the-press__content">
            <h2>IN THE PRESS</h2>
            <div class="in-the-press__content-bottom">
                <img src="../../assets/img/img1__in-the-press.svg" alt="">
                <img src="../../assets/img/img2__in-the-press.svg" alt="">
                <img src="../../assets/img/img3__in-the-press.svg" alt="">
                <img src="../../assets/img/img4__in-the-press.svg" alt="">
                <img src="../../assets/img/img5__in-the-press.svg" alt="">
            </div>
        </div>
    </section>
</main>