<header>
    <div class="container header-content">
        <div class="header-content__left">
            <h2>Grow Your Business 10x with Metric</h2>
            <p>The Metric Dashboard brings all of your business insights under one roof. Revenue metrics, social,
                integrations - everything.</p>
            <div class="header-content__left-btn">
                <a href="#">Sign up</a>
                <a href="#">Learn More</a>
            </div>
        </div>
        <img src="../../assets/img/header-inside__img.png" alt="">
    </div>
</header>

<!-- In Press Code -->
<main>
    <section class="in-the-press">
        <div class="container in-the-press__content">
            <h2>IN THE PRESS</h2>
            <div class="in-the-press__content-bottom">
                <img src="../../assets/img/img1__in-the-press.svg" alt="">
                <img src="../../assets/img/img2__in-the-press.svg" alt="">
                <img src="../../assets/img/img3__in-the-press.svg" alt="">
                <img src="../../assets/img/img4__in-the-press.svg" alt="">
                <img src="../../assets/img/img5__in-the-press.svg" alt="">
            </div>
        </div>
    </section>
</main>