
<footer class="footer">
    <div class="container footer-content">
        <div class="footer-content__left">
            <a href="">Metric</a>
            <p>Sign up for our newsletter</p>
            <div class="social-network">
                <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
        <div class="footer-content__right">
            <div class="company">
                <h3>COMPANY</h3>
                <ul class="company-list">
                    <li><a href="#" class="company-list__link">Home</a></li>
                    <li><a href="#" class="company-list__link">Features</a></li>
                    <li><a href="#" class="company-list__link">Clients</a></li>
                    <li><a href="#" class="company-list__link">Pricing</a></li>
                    <li><a href="#" class="company-list__link">Sign Up</a></li>
                </ul>
            </div>
            <div class="product">
                <h3>PRODUCT</h3>
                <ul class="product-list">
                    <li><a href="#" class="poduct-list__link">Analytics</a></li>
                    <li><a href="#" class="poduct-list__link">Businesses</a></li>
                    <li><a href="#" class="poduct-list__link">Testimonials</a></li>
                    <li><a href="#" class="poduct-list__link">Integrations</a></li>
                </ul>
            </div>
            <div class="legal">
                <h3>LEGAL</h3>
                <div class="legal-link">
                    <a href="">Privacy Policy</a>
                    <a href="">Terms of Use</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="after-footer">
    <div class="container after-footer__content">
        <p>Copyright 2014 Metric. All Rights Reserved. Brand logos for demonstration purposes only.</p>
    </div>
</div>