<footer class="footer">
    <div class="container footer-content">
        <div class="footer-content__left">
            <a href="">TheEventPhotos</a>
            <p> <a routerLink="/register" id="sign_up">Sign up</a></p>
            <div class="social-network">
                <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
        <div class="footer-content__right">
            <div class="company">
                <h3>COMPANY</h3>
                <ul class="company-list">
                    <li><a href="#" class="company-list__link">Home</a></li>
                    <li><a href="javascript:void(0)" class="company-list__link"
                            (click)="commonScroller.goToFeatures()">Features</a></li>
                    <li><a href="javascript:void(0)" class="company-list__link"
                            (click)="commonScroller.goToCustomer()">Clients</a></li>
                    <li><a href="javascript:void(0)" class="company-list__link"
                            (click)="commonScroller.goToPricing()">Pricing</a></li>
                    <li><a routerLink="/register" class="company-list__link">Sign Up</a></li>
                </ul>
            </div>
            <div class="product">
                <h3>ABOUT</h3>
                <ul class="product-list">
                    <li><a href="#" class="poduct-list__link">About Us</a></li>
                    <li><a href="#" class="poduct-list__link">Contact Us</a></li>
                    <li><a href="#" class="poduct-list__link">Mail Us</a></li>
                    <!-- <li><a href="#" class="poduct-list__link">Integrations</a></li> -->
                </ul>
            </div>
            <div class="legal">
                <h3>LEGAL</h3>
                <div class="legal-link">
                    <a href="">Privacy Policy</a>
                    <a href="">Terms of Use</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="after-footer">
    <div class="container after-footer__content">
        <p>Copyright 2014 TheEventPhotos. All Rights Reserved. Brand logos for demonstration purposes only.</p>
    </div>
</div>