<section class="container about-us" id = "customer_id">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <h2>What People Say About Us</h2>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
                <p>“Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet
                    non magna. Maecenas faucibus mollis interdum.”</p>
            <img src="../../assets/img/about-us__img.svg" alt=""> <br> 
            <span>Prince Aggarwal</span> <br>
            <span>Software Engineer at Delhivery</span>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam impedit architecto neque similique autem facilis. 
                Distinctio corrupti reiciendis odio voluptate, ratione eos autem, aut suscipit ullam, sed iure eveniet quod?</p>
            <img src="https://assets.website-files.com/5e4b18d10b25ed7c5a4d7453/5e4b18d10b25edf4be4d7485_bryant-square.jpg" alt=""> <br>
            <span>Shubham Bajaj</span><br>
            <span>Software Engineer</span>
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <p>“Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet
                non magna. Maecenas faucibus mollis interdum.”</p>
            <img src="../../assets/img/about-us__img.svg" alt=""> <br>
            <span>Kyle Killit</span><br>
            <span>Software Engineer</span>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon btn btn-primary" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon btn btn-primary" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
</section>