<main class="container features-content" id="features_id">
    <section class="sync">
        <h2>Explore Our Capabilities</h2>
        <p>Capturing Moments, Unleashing Memories: Your All-in-One Hub for Seamless Event Photography</p>
        <div class="web-application">
            <img src="../../assets/img/Web-application__img.svg" alt="">
            <div class="web-application__content">
                <fa-icon class="fa-solid fa-laptop-code" [icon]="faLaptopCode"></fa-icon>
                <h3>Web Application</h3>
                <p>Elevate your photography business with our intuitive web application for photographers.Professional
                    dashboard for Seamlessly manage events, upload bulk photos, manage Guest and many more.Your
                    all-in-one solution for efficient event photography business.</p>
            </div>
        </div>
    </section>

    <section class="mobile-app">
        <div class="mobile-app__content">
            <fa-icon class="fa-solid fa-cloud-arrow-down" [icon]="faCloudArrowDown"></fa-icon>
            <h3>Mobile App</h3>
            <p>Explore events effortlessly with our user-friendly app! View all event photos, and snap a selfie to find
                every picture you're in. Create personalized albums, like your favorite moments,and enjoy worry-free
                security with restricted screenshots and downloads. Your memories, your way!.</p>
        </div>
        <img src="../../assets/img/mobile-app__img.svg" alt="">
    </section>

    <section class="methods">
        <div class="dashboard">
            <fa-icon class="fa-solid fa-table-columns" [icon]="faTableColumns"></fa-icon>
            <h3>Dashboard</h3>
            <p>Professional dashboard for Seamlessly manage events, upload bulk photos, manage Guest and many more.</p>
        </div>
        <div class="Custom-Rules">
            <fa-icon class="fa-solid fa-network-wired" [icon]="faShieldHalved"></fa-icon>
            <h3>Security</h3>
            <p>From restricted screenshots to protected downloads, your event memories stay yours, offering a secure
                haven for your cherished moments.</p>
        </div>
        <div class="Presets">
            <fa-icon class="fa-solid fa-cloud-arrow-down" [icon]="faPeopleRoof"></fa-icon>
            <h3>Management</h3>
            <p>Track registrations, manage guest lists, and ensure a seamless experience for both photographers and
                guests. Elevate your event management game and focus on capturing moments that matter.</p>
        </div>
    </section>
</main>