<main class="container features-content" id="features_id">
    <section class="sync">
        <h2>Sync Across All Devices</h2>
        <p>Everything you need to make your business grow super fast!</p>
        <div class="web-application">
            <img src="../../assets/img/Web-application__img.svg" alt="">
            <div class="web-application__content">
                <!-- <i class="fa-solid fa-laptop-code"></i> -->
                <fa-icon class="fa-solid fa-laptop-code" [icon]="faLaptopCode"></fa-icon>
                <h3>Web Application</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique. Consectetur adipiscing elit.</p>
            </div>
        </div>
    </section>

    <section class="mobile-app">
        <div class="mobile-app__content">
            <!-- <i class="fa-solid fa-cloud-arrow-down"></i> -->
            <fa-icon class="fa-solid fa-cloud-arrow-down" [icon]="faCloudArrowDown"></fa-icon>
            <h3>Mobile App</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique. Consectetur adipiscing elit.</p>
        </div>
        <img src="../../assets/img/mobile-app__img.svg" alt="">
    </section>

    <section class="methods">
        <div class="dashboard">
            <!-- <i class="fa-solid fa-table-columns"></i> -->
            <fa-icon class="fa-solid fa-table-columns" [icon]="faTableColumns"></fa-icon>
            <h3>Dashboard</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique.</p>
        </div>
        <div class="Custom-Rules">
            <!-- <i class="fa-solid fa-network-wired"></i> -->
            <fa-icon class="fa-solid fa-network-wired" [icon]="faNetworkWired"></fa-icon>
            <h3>Custom Rules</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique.</p>
        </div>
        <div class="Presets">
            <!-- <i class="fa-solid fa-cloud-arrow-down"></i> -->
            <fa-icon class="fa-solid fa-cloud-arrow-down" [icon]="faCloudArrowDown"></fa-icon>
            <h3>Presets</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique.</p>
        </div>
        <div class="Metrics">
            <!-- <i class="fa-solid fa-chart-line"></i> -->
            <fa-icon class="fa-solid fa-chart-line" [icon]="faChartLine"></fa-icon>
            <h3>Metrics</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique.</p>
        </div>
    </section>
</main>