/* Features  */

.sync h2 {
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 29px;
    text-align: center;
    color: #333333;
    font-weight: 400;
}

.sync p {
    font-size: 19px;
    text-align: center;
    color: #333333;
    font-weight: 400;
    margin-bottom: 68px;
}

.sync{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-laptop-code{
    margin-top: 0;
}

.mobile-app__content fa-icon{
    margin-top: 0;
}

.web-application {
    display: flex;
    align-items: center;
    gap: 20px;
}

.web-application__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.web-application__content fa-icon {
    font-size: 23px;
    color: black;
}

.web-application__content h3 {
    font-size: 22px;
    color: #333333;
    font-weight: 500;
}


.web-application__content p {
    line-height: 22px;
    color: #333333;
    font-weight: 400;
    text-align: start;
}



.mobile-app {
    display: flex;
    gap: 70px;
}

.mobile-app__content {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.mobile-app img {
    width: 48%;
}

.mobile-app__content  {
    font-size: 24px;
    color: black;
}

.mobile-app__content h3 {
    font-size: 22px;
    color: #333333;
    font-weight: 500;
}

.mobile-app__content p {
    line-height: 22px;
    color: #333333;
    width: 389px;
}

.methods {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.methods fa-icon {
    font-size: 24px;
    color: black;
}

.methods h3 {
    font-size: 21px;
    color: #333333;
    margin-top: 11px;
    margin-bottom: 17px;
    font-weight: 500;
}

.methods p {
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    width: 100%;
}

.fa-table-columns{
    margin-top: 0;
}

@media (max-width: 1040px) {
    .header-content img {
        width: 40%;
    }

    .header-content__left h2 {
        font-size: 25px;
    }

    .header-content__left p {
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .sync h2 {
        font-size: 24px;
    }

    .sync p {
        font-size: 17px;
        text-align: center;
        width: 800px;
        margin-bottom: 30px;
    }

    .web-application {
        flex-direction: column-reverse;
        gap: 0px;
    }

    .web-application__content {
        align-items: center;
    }

    .fa-laptop-code {
        margin-top: 60px;
    }

    .mobile-app {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .mobile-app__content i {
        margin-top: 80px;
    }

    .mobile-app {
        gap: 30px;
    }

    .methods {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
    }

    .methods p {
        width: 60%;
        margin: auto;
    }

    .fa-table-columns {
        margin-top: 70px;
    }
}

@media (max-width: 800px) {
    .sync p {
        width: 500px;
    }
}

@media (max-width: 540px) {
    .web-application img {
        width: 70%;
    }

    .sync p {
        width: 300px;
    }

    .mobile-app__content p {
        width: 300px;
    }
}

@media (max-width: 330px) {
    .mobile-app__content p{
        width: 200px;
    }
} 