.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding-left: 20px;
    background-color: white !important;
}

/* side bar */

button.btn.btn-light {
    margin-right: 20px;
}

/* side bar end */

a.nav-link.dropdown-toggle {
    display: inline-flex;
}

::after {
    margin-top: 10px;
}

p#user_name {
    /* padding: 4px; */
    margin: 1px 6px 0px 6px;
}

fa-icon.ng-fa-icon.fa-regular.fa-circle-user {
    font-size: 20px;
    padding-top: 0px;
    margin: 4px;
    margin-top: 0px;
}

/* .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 940px;
    width: 100%;
} */

.nav-content__list {
    display: flex;
    gap: 17px;
}

.nav-content a {
    font-size: 25px;
    font-family: var(--RSR);
    font-weight: 400;
    color: #1C1C1C;
    text-decoration: none !important;
}

.nav-content__list-link {
    color: #222222 !important;
    font-size: 15px !important;
    font-family: var(--RR) !important;
}