.image-card {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: auto;
    box-sizing: border-box;
  }

  .img-fluid {
    height: 220px !important;
  }
   
  .card-body {
    height: 250px !important;
}
  
  .card-content {
    padding: 10px;
  }
  
  .card-title {
    font-size: 20px;
    margin: 0;
  }
  
  .card-text {
    font-size: 14px;
    margin: 10px 0;
  }
  
  .card-button {
    height: auto;
    width: auto;
    font-size: 20px;
    display: inline-block;
    padding: 5px 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin: 0,10px,0,10px;
  }
  .tag-card-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-transform: capitalize;
  }
  
  .tag-card-button:hover {
    background-color: #0056b3;
  }

  a.share-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25d366;
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  

  a.share-link:hover {
    background-color: #128c7e; 
  }
  .tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .registered-users-container {
    position: relative;
  }
  
  .registered-users-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-height: 150px; 
    overflow-y: auto;
  }
  
  .registered-users-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .registered-users-dropdown li {
    padding: 8px;
    cursor: pointer;
  }
  

  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  

  