
<app-dashboard></app-dashboard>

<!-- <ul>
    <li *ngFor="let e of registeredUsers">{{ e }}</li>
</ul> -->

<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
							<th><span>User</span></th>
							<th><span>Created</span></th>
							<th class="text-center"><span>Status</span></th>
							<th><span>Mobile Number</span></th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>

						<tr *ngFor="let e of registeredUsers">
							<td>
								<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
								<a href="#" class="user-link">{{e.user_name}}</a>
								<span class="user-subhead">Admin</span>
							</td>
							<td>
								2013/08/08
							</td>
							<td class="text-center">
								<span class="label label-default">Inactive</span>
							</td>
							<td>
								<a href="#">{{ e.user_id }}</a>
							</td>
							<td style="width: 20%;">
								<a href="#" class="table-link">
									<span class="fa-stack">
										<fa-icon class="fa fa-square fa-stack-2x" [icon]="faSquare" stackItemSize="2x"></fa-icon>
                                        <fa-icon class="fa-solid fa-search-plus fa-inverse" stackItemSize="1x" [icon]="faSearchPlus"></fa-icon>
									</span>
								</a>
								<a href="#" class="table-link">
									<span class="fa-stack">
										<fa-icon class="fa fa-square fa-stack-2x" [icon]="faSquare" stackItemSize="2x"></fa-icon>
                                        <fa-icon class="fa-solid fa-pencil fa-inverse" stackItemSize="1x" [icon]="faPencil"></fa-icon>
									</span>
								</a>
								<a href="#" class="table-link danger">
									<span class="fa-stack">
										<fa-icon class="fa fa-square fa-stack-2x" [icon]="faSquare" stackItemSize="2x"></fa-icon>
                                        <fa-icon class="fa-solid fa-trash-o fa-inverse" stackItemSize="1x" [icon]="faTrash"></fa-icon>
									</span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
            </nav>
		</div>
	</div>
</div>
</div>
