.plans-pricing {
    background: #DDE7ED;
}

.plans-pricing__content h2 {
    margin-top: 69px;
    margin-bottom: 10px;
    font-size: 29px;
    text-align: center;
    color: #333333;
    padding-top: 69px;
    font-weight: 500;
}


.plans-pricing__content p {
    margin-bottom: 69px;
    font-size: 19px;
    text-align: center;
    color: #333333;
}

.pricing-box {
    display: flex;
    flex-direction: column;
    width: 220px;
    background: white;
    border-radius: 3px;
    padding: 17px;
    gap: 15px;
}

.pricing-box h3 {
    font-size: 22px;
    color: #CCCCCC;
    font-weight: 500;
}

.pricing-box__span span:nth-child(1) {
    color: #489FD9;
    margin-right: -3px;
    font-size: 19px;
}

.pricing-box__span span:nth-child(2) {
    color: #C7C5C5;
    font-size: 14px;
}

.pricing-box .pricing-box__span:nth-child(4) {
    padding-bottom: 5px;
}

.pricing-box__content-for-after {
    position: relative;
}

.pricing-box__content-for-after:after {
    content: '';
    /* display: block; */
    position: absolute;
    width: 95px;
    height: 2px;
    background: #DBDBDB;
}

.pricing-box__span-bottom {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.pricing-box__span-bottom span {
    color: #C7C5C5;
    font-size: 14px;
}

.btn {
    color: white;
    background: black;
    padding: 10px 30px;
    font-family: var(--RSR);
    border-radius: 3px;
    font-weight: 500;
    text-align: center;
}

.pricing-content {
    display: flex;
    gap: 20px;
}

.contact-us {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 40px;
}

.contact-us span {
    color: #333333;
    font-weight: 500;
    font-size: 15px;
}

.contact-us a {
    color: #489FD9;
    font-size: 15px;
}


@media (max-width: 900px) {

    .pricing-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .sync h2 {
        font-size: 24px;
    }

    .sync p {
        font-size: 17px;
        text-align: center;
        width: 800px;
        margin-bottom: 30px;
    }

    .web-application {
        flex-direction: column-reverse;
        gap: 0px;
    }

    .web-application__content {
        align-items: center;
    }

    .fa-laptop-code {
        margin-top: 60px;
    }

    .mobile-app {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .mobile-app__content fa-icon {
        margin-top: 80px;
    }

    .mobile-app {
        gap: 30px;
    }

    .methods {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
    }

    .methods p {
        width: 60%;
        margin: auto;
    }

    .fa-table-columns {
        margin-top: 70px;
    }

    .plans-pricing__content h2 {
        font-size: 24px;
    }

    .plans-pricing__content p {
        font-size: 16px;
    }

    .about-us h2 {
        font-size: 24px;
    }

    .about-us p {
        font-size: 17px;
    }
}

@media (max-width: 800px) {

    .sync p {
        width: 500px;
    }

    .about-us p {
        width: 400px;
        margin-top: 20px;
    }

    .mark-content img {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 540px) {

    .web-application img {
        width: 70%;
    }

    .sync p {
        width: 300px;
    }

    .mobile-app__content p {
        width: 300px;
    }

    .pricing-content{
        gap: 50px;
    }
}

@media (max-width: 330px) {
    .mobile-app__content p{
        width: 200px;
    }
}