<div *ngIf="isAuthenticated">
    <app-navbar></app-navbar>
</div>
<section class="plans-pricing" id="pricing_id">
    <div class="container plans-pricing__content">
        <h2>Plans & Pricing</h2>
        <p>No credit card required. No risk,
            30-day money back guarantee</p>
        <div class="pricing-content">
            <div class="pricing-box">
                <h3>Starter</h3>
                <div class="pricing-box__span">
                    <span>$15</span>
                    <span>/month</span>
                </div>
                <div class="pricing-box__span">
                    <span>500</span>
                    <span>Data Points</span>
                </div>
                <div class="pricing-box__span after-content">
                    <span>1</span>
                    <span>Team Member</span>
                </div>
                <div class="pricing-box__content-for-after"></div>
                <div class="pricing-box__span-bottom">
                    <span>EmailSupport</span>
                    <span>IOS and Android App</span>
                    <span>Customizable Dashboard</span>
                    <span>Metric API</span>
                </div>
                <a href="" class="btn">Choose Plan</a>
            </div>
            <div class="pricing-box">
                <h3>Starter</h3>
                <div class="pricing-box__span">
                    <span>$15</span>
                    <span>/month</span>
                </div>
                <div class="pricing-box__span">
                    <span>500</span>
                    <span>Data Points</span>
                </div>
                <div class="pricing-box__span after-content">
                    <span>1</span>
                    <span>Team Member</span>
                </div>
                <div class="pricing-box__content-for-after"></div>
                <div class="pricing-box__span-bottom">
                    <span>EmailSupport</span>
                    <span>IOS and Android App</span>
                    <span>Customizable Dashboard</span>
                    <span>Metric API</span>
                </div>
                <a href="" class="btn">Choose Plan</a>
            </div>
            <div class="pricing-box">
                <h3>Starter</h3>
                <div class="pricing-box__span">
                    <span>$15</span>
                    <span>/month</span>
                </div>
                <div class="pricing-box__span">
                    <span>500</span>
                    <span>Data Points</span>
                </div>
                <div class="pricing-box__span after-content">
                    <span>1</span>
                    <span>Team Member</span>
                </div>
                <div class="pricing-box__content-for-after"></div>
                <div class="pricing-box__span-bottom">
                    <span>EmailSupport</span>
                    <span>IOS and Android App</span>
                    <span>Customizable Dashboard</span>
                    <span>Metric API</span>
                </div>
                <a href="" class="btn">Choose Plan</a>
            </div>
            <div class="pricing-box">
                <h3>Starter</h3>
                <div class="pricing-box__span">
                    <span>$15</span>
                    <span>/month</span>
                </div>
                <div class="pricing-box__span">
                    <span>500</span>
                    <span>Data Points</span>
                </div>
                <div class="pricing-box__span after-content">
                    <span>1</span>
                    <span>Team Member</span>
                </div>
                <div class="pricing-box__content-for-after"></div>
                <div class="pricing-box__span-bottom">
                    <span>EmailSupport</span>
                    <span>IOS and Android App</span>
                    <span>Customizable Dashboard</span>
                    <span>Metric API</span>
                </div>
                <a href="" class="btn">Choose Plan</a>
            </div>

        </div>
        <div class="contact-us">
            <span>Need more Data Points or Team Members? Please</span>
            <a href="">contact us.</a>
        </div>
    </div>
</section>