<app-navbar></app-navbar>

<!-- <nav class="navbar navbar-expand-lg dashboard">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="nav-link" aria-current="page">
    <h2 id="h2-dashboard"> <b>Dashbaord</b> </h2>
  </a>
  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav my-auto">
      <li class="nav-item">
        <button class="btn btn-outline-primary" (click)="navigateToEventList()">
          Events <fa-icon class="fa-solid fa-list" [icon]="faList"></fa-icon>
        </button>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <button class="btn btn-outline-primary" (click)="navigateToCreateEvent()">
          <fa-icon class="fa-solid fa-table-columns" [icon]="faPlus"></fa-icon>
          Create</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-primary" (click)="navigateToUploadImage()">
          <fa-icon class="fa-solid fa-upload" [icon]="faUpload"></fa-icon>
          Upload</button>
      </li>
    </ul>
  </div>
</nav> -->