<app-navbar></app-navbar>

<!-- <div class="container"> -->
<nav class="navbar navbar-expand-lg dashboard">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-link" aria-current="page">
      <h2 id="h2-dashboard"> <b>Dashbaord</b> </h2>
    </a>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <button class="btn btn-outline-primary" (click)="navigateToEventList()">
        Event <fa-icon class="fa-solid fa-list" [icon]="faList"></fa-icon>
      </button> 
      
      <button class="btn btn-outline-primary" (click)="navigateToCreateEvent()">
        <fa-icon class="fa-solid fa-table-columns" [icon]="faPlus"></fa-icon>
        Create</button>

        <button class="btn btn-outline-primary" (click)="navigateToUploadImage()">
          <fa-icon class="fa-solid fa-upload" [icon]="faUpload"></fa-icon>
          Upload</button>
    </div>
  </div>
</nav>
<!-- </div> -->
<!-- <div class="container" *ngIf="event_list"></div> -->