a {
    text-decoration: none !important;
}

.container.navbar-content, .container.header-content, .container.features-content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 940px;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--RR);
}