a {
    text-decoration: none !important;
}

li.nav-item {
    padding: 0px 0px 0px 30px;
}

.container.header-content, .container.features-content, .container.plans-pricing__content, .container.about-us, .container.footer-content{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 940px;
    width: 100%;
}

.container.navbar-content {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

body {
    overflow-x: hidden;
  }  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--RR);
}

/* PhotoStudio code */

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  #scrollToTopBtn {
    display: none;
    position: fixed;

    z-index: 99;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
  }
  
  #scrollToTopBtn:hover {
    background-color: #0056b3;
  }

  .sidenav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    height: 100%;
    width: 250px;
    position: fixed;
    transition: 0.3s;
}

.sidenav a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    position: relative;
}

.sidenav a:hover {
    background-color: #555;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 150px;
  z-index: 1;
  left: 100%; 
  top: 0;
}

.sidenav a:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
}

.content {
  /* margin-left: 250px; */
  padding: 20px;
  flex: 1;
  margin: 50px 0 0 250px;
}
.toggle-btn {
  top: 10px;
  padding-left: 20px;
  margin-left: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* .toast-success{
  background-image: none !important;
  background-color: blue !important;
  opacity: 20 !important;
} */
