a {
    text-decoration: none !important;
}

.container.navbar-content, .container.header-content, .container.features-content, .container.plans-pricing__content, .container.about-us, .container.footer-content{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 940px;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--RR);
}

@media (max-width: 1040px) {
    .header-content img {
        width: 40%;
    }

    .header-content__left h2 {
        font-size: 25px;
    }

    .header-content__left p {
        font-size: 16px;
    }

    .mark-content {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .mark-content img {
        width: 15%;
    }
}

@media (max-width: 900px) {
    .header-content {
        justify-content: flex-start;
        gap: 50px;
    }

    .pricing-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .in-the-press__content-bottom {
        flex-wrap: wrap;
        justify-content: center;
    }

    .sync h2 {
        font-size: 24px;
    }

    .sync p {
        font-size: 17px;
        text-align: center;
        width: 800px;
        margin-bottom: 30px;
    }

    .web-application {
        flex-direction: column-reverse;
        gap: 0px;
    }

    .web-application__content {
        align-items: center;
    }

    .fa-laptop-code {
        margin-top: 60px;
    }

    .mobile-app {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .mobile-app__content fa-icon {
        margin-top: 80px;
    }

    .mobile-app {
        gap: 30px;
    }

    .methods {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
    }

    .methods p {
        width: 60%;
        margin: auto;
    }

    .fa-table-columns {
        margin-top: 70px;
    }

    .plans-pricing__content h2 {
        font-size: 24px;
    }

    .plans-pricing__content p {
        font-size: 16px;
    }

    .about-us h2 {
        font-size: 24px;
    }

    .about-us p {
        font-size: 17px;
    }
}

@media (max-width: 800px) {
    .header-content {
        flex-direction: column;
        gap: 10px;
    }

    .header-content__left h2 {
        margin-top: 300px;
    }

    .header-content__left {
        text-align: center;
    }

    .header-content__left-btn {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .header-content img {
        margin-bottom: 250px;
    }

    .header-content__left p {
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .sync p {
        width: 500px;
    }

    .about-us p {
        width: 400px;
        margin-top: 20px;
    }

    .mark-content img {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 540px) {
    .header-content img {
        display: none;
    }

    .header-content__left h2 {
        margin-top: -60px;
    }

    .web-application img {
        width: 70%;
    }

    .sync p {
        width: 300px;
    }

    .mobile-app__content p {
        width: 300px;
    }

    .about-us p {
        width: 300px !important;
    }

    .footer-content {
        gap: 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .after-footer__content p {
        text-align: center;
    }

    .footer-content__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-content__left:nth-child(1) a {
        margin-top: 50px;
    }

    .footer-content__left p {
        margin-top: 15px;
        margin-bottom: -30px;
    }

    .footer-content__right {
        margin-left: 40px;
    }

    .company-list {
        gap: 20px;
    }

    .product-list {
        gap: 20px;
    }

    .legal-link {
        gap: 20px;
    }

    .nav-content__list {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 100;
        gap: 60px;
        background: linear-gradient(90deg, rgba(129,185,129,0.9444152661064426) 3%, rgba(141,215,109,0.9051995798319328) 100%);
        transition: 800ms;
    }
    .nav-content__list-link{
        font-size: 30px !important;
    }
    .burger{
        display: block;
        color: black;
        font-size: 40px;
        position: absolute;
        right: 5%;
        z-index: 999;
    }
    .burger:hover ~ .nav-content__list{
        left: 0;
    }
    .in-the-press__content h2{
        margin-bottom: 30px;
        margin-left: 25px;
    }
    .pricing-content{
        gap: 50px;
    }
}

@media (max-width: 480px) {
    .header-content__left h2{
        width: 250px;
        margin: auto;
        margin-top: -50px;
    }
    .header-content__left p{
        width: 300px;
    }
}

@media (max-width: 330px) {
    .footer-content__right{
        flex-direction: column;
        margin-left: 25px;
        gap: 80px;
    }
    .about-us h2{
        font-size: 20px;
    }
    .about-us p{
        font-size: 15px;
        width: 200px;
    }
    .mobile-app__content p{
        width: 200px;
    }
}
@font-face {
    font-family: Roboto-Regular;
    src: url(assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoCondensed-Regular;
    src: url(assets/fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: RobotoSlab-Regular;
    src: url(assets/fonts/RobotoSlab-Regular.ttf);
}